# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Environment variables
.env

# Build output
dist/
build/

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
